body {
    padding: 0;
    margin: 0;
}
.nav {
    position: fixed;
    display: block;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: #232f3e;
    z-index: 10000;
}

.button-wrap {
    float: right;
    margin-right: 100px;
}


.logo {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 3px;
    margin-left: 100px;
    width: 140px;
    height: 20px;
}

.products {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 30px;
    top: 7px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-family: 'aaux_prolightregular';
    transition: all .3s ease;
    cursor: pointer;
}
.nav-line {
    position: relative;
    display: inline-block;
    padding: 0;
    top: 7px;
    margin-left: 10px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-family: 'aaux_prolightregular';
    transition: all .5s ease;
}
.alexa {
    position: relative;
    display: inline-block;
    padding: 0;
    top: 7px;
    margin-left: 10px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-family: 'aaux_prolightregular';
    transition: all .3s ease;
}
.alexa span:after {
      content: '\00bb';
      position: relative;
      opacity: 0;
      top: 0;
      right: 0px;
      transition: 0.5s;
    }
.alexa:hover span:after {
      opacity: 1;
      right: -5px;
}

/* hamburger menu */
.hamburger {
    padding: 0;
    margin: 0;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: none;
    position: relative;
    margin-top: 3px;
}
.menu-button {
    position: absolute;
    top: 50%;
    left: 15%;
    background: white;
    transition: all .3s ease;
}
.menu-button:before,
.menu-button:after 
{
    content:'';
    position: absolute;
    width: 25px;
    height: 2.5px;
    background: white;
    transition: all .5s ease;
}
.menu-button:before {
    top: -4px;
}
.menu-button:after {
    top: 4px;
}
.menu-button.active {
    background: rgba(0,0,0,0);
}
.menu-button.active:before {
    top: 0px;
    transform: rotate(135deg);
}
.menu-button.active:after {
    top: 0px;
    transform: rotate(-135deg);
}
.hamburger-nav {
    display: none;
}

.dropdown {
    position: absolute;
    width: 100%;
    height: 0px;
    max-width: 100%;
    left: 0;
    top: 40px;
    background: #E8E7E7;
    opacity: .95;
    transition: height .5s ease;
    text-align: center;
    z-index: 1000;
}

/* svg icons hover */

a.svg1 {
    content: url(../icons/Artboard3.svg); 
    position: relative; 
    top: -100px; 
    right: 0; 
    bottom: 0; 
    left: 0;
    width: 100px;
    height: 100px;
    display: block;
}
a.svg1:hover {
    content: url(../icons/Artboard32.svg); 
}
a.svg1:hover + .icon-text-1 {
    visibility: visible;
}
a.svg2 {
    content: url(../icons/Artboard4.svg); 
    position: relative; 
    top: -100px; 
    right: 0; 
    bottom: 0; 
    left: 0;
    width: 100px;
    height: 100px;
    display: block;
}
a.svg2:hover + .icon-text-2 {
    visibility: visible;
}
a.svg2:hover {
    content: url(../icons/Artboard42.svg); 
}
a.svg3 {
    content: url(..//icons/Artboard5.svg); 
    position: relative; 
    top: -100px; 
    right: 0; 
    bottom: 0; 
    left: 0;
    width: 100px;
    height: 100px;
}
a.svg3:hover {
    content: url(../icons/Artboard52.svg); 
}
a.svg3:hover + .icon-text-3 {
    visibility: visible;
}
a.svg4 {
    content: url(../icons/Artboard6.svg); 
    position: relative; 
    top: -100px; 
    right: 0; 
    bottom: 0; 
    left: 0;
    width: 100px;
    height: 100px;
}
a.svg4:hover {
    content: url(../icons/Artboard62.svg); 
}
a.svg4:hover + .icon-text-4 {
    visibility: visible;
}
/* svg icon text */
.icon-text-wrap {
    position: absolute;
    display: block;
    width: 100vw;
    text-align: center;
    top: 110px;
}

.icon, .icon2, .icon3, .icon4 {
    position: relative;
    display: inline-block;
    width: 140px;
    height: 140px;
    text-align: center;
    visibility: hidden;
}
.icon-text-1, .icon-text-2, .icon-text-3, .icon-text-4 {
    display: block;
    position: relative;
    font-size: 18px;
    font-family: 'amazon_emberregular';
    color: #00caff;
    visibility: hidden;
    top: -5px;
}
.icon-text-1 {
    left: -22px;
}
.icon-text-2 {
    left: -19px;
}
.icon-text-4 {
    left: 3px;
}

.dropdown a {
    opacity: 0;
    transition: all .6s ease;
    visibility: hidden;
}

/* dropdown hover */

.products:hover {
    color: #00caff;
}
.products:hover + .dropdown {
    height: 130px;
}
.products:hover +.dropdown a{
    opacity: 1;
    top: 0;
    visibility: visible;
}
.dropdown:hover {
    height: 130px;
    
}
.dropdown:hover a {
    opacity: 1;
    top: 0;
    visibility: visible;
}
.alexa:hover {
    color: #00caff;
}

/*color display*/

.color-display {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
}
.op-page {
    margin-top: 40px;
    overflow-x: hidden;
}
.color-wrap {
    width: 100vw;
    max-width: 100%;
    text-align: center;
    
}
.background-color {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    width: 100vw;
    max-width: 100%;
    height: 95vh;
    left: 0;
}
.img {
    position: absolute;
    bottom: 100px;
    width: 300px;
    z-index: 1000;
    left: 20vw;
    transition: all 2s ease;
    opacity: 0;
}
.big {
    position: absolute;
    bottom:0;
    display: inline-block;
    width: 100vw;
    height: 100vh;
    left: 0;
    transition: all 1s ease;
}
.charcoal {
    background-color: #1a191e;
}

.charcoal-s {
    position: absolute;
    display: inline-block;
    width: 100vw;
    height: 40vh;
    background-color: #131217 ;
    bottom: 0;
    left: 0;
    transition: all 1.2s ease;
}

.sandstone {
    background-color: #cecece;
}

.sandstone-s {
    position: absolute;
    display: inline-block;
    width: 0vw;
    height: 40vh;
    background-color: #c1c1c1;
    bottom: 0;
    left: 0;
    transition: all 1.2s ease;
    z-index: 1;
}


.heather {
    background-color: #b2b1b1;
}

.heather-s {
    position: absolute;
    display: inline-block;
    width: 0vw;
    height: 40vh;
    background-color: #999898;
    bottom: 0;
    left: 0;
    transition: all 1.2s ease;
    z-index: 1;
}

.silver {
    background-color: #e0deda;
}

.silver-s {
    position: absolute;
    display: inline-block;
    width: 0vw;
    height: 40vh;
    background-color: #777674;
    bottom: 0;
    left: 0;
    transition: all 1.2s ease;
    z-index: 1;
}

.walnut {
    background-color: #775742;
}

.walnut-s {
    position: absolute;
    display: inline-block;
    width: 0vw;
    height: 40vh;
    background-color: #3d332c;
    bottom: 0;
    left: 0;
    transition: all 1.2s ease;
    z-index: 1;
}

.oak {
    background-color: #efdecb;
}

.oak-s {
    position: absolute;
    display: inline-block;
    width: 100vw;
    height: 40vh;
    background-color: #d6bea5;
    bottom: 0;
    left: 0;
    transition: all 1.2s ease;
    z-index: 10;
}
.color-button-wrap {
    position: absolute;
    width: 100vw;
    max-width: 100%;
    text-align: center;
    bottom: 20px;
    z-index: 1000;
}
.button { 
    position: relative;
    display: inline-block;
    height: 30px;
    width: 30px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
    transition: all .3s ease;
    margin-left: 10px;
}


.button:hover {
    transform: scale(1.2)
}
.charcoal-button {
    background-image: url(../images/charcoal_color.png);
    background-size: cover;
}
.sandstone-button {
    background-image: url(../images/sandstone_color.png);
    background-size: cover;
}
.heather-button {
    background-image: url(../images/heather_color.png);
    background-size: cover;
}
.silver-button {
    background-image: url(../images/silver_color.png);
    background-size: cover;
}

.walnut-button {
    background-image: url(../images/walnut_color.png);
    background-size: cover;
}
.oak-button {
    background-image: url(../images/oak_color.png);
    background-size: cover;
}
.style-wrap {
    position: absolute;
    top: 100px;
}
.style-text {
    position: relative;
    font-family: 'amazon_emberregular';
    font-size: 80px;
    width: 600px;
    left: 50vw;
    color: #00caff;
    transition: all 1s ease;
}
.color-text {
    position: absolute;
    font-family: 'amazon_emberregular';
    font-size: 50px;
    width: 600px;
    left: 50vw;
}
.oakt {
    opacity: 1;
    transition: all 1s ease;
    color: Rosybrown;
}
.charc {
    opacity: 0;
    transition: all 1s ease;
    color: slategrey;
}
.sand {
    opacity: 0;
    transition: all 1s ease;
    color: azure;
}
.heath {
    opacity: 0;
    transition: all 1s ease;
    color: gainsboro;
}
.silv {
    opacity: 0;
    transition: all 1s ease;
    color: silver;
}
.wal {
    opacity: 0;
    transition: all 1s ease;
    color: floralwhite;
}
.price-text {
    position: absolute;
    font-family: 'aaux_prolightregular';
    font-size: 40px;
    left: 50vw;
    padding-top: 100px;
    transition: all 1s ease;
}
.cart {
    display: inline-block;
    position: absolute;
    text-align: center;
    font-family: 'aaux_prolightregular';
    font-size: 20px;
    color: dimgrey;
    background:;
    width: 120px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 5px;
    border: 1.5px solid dimgrey;
    border-radius: 5px;
    padding-top: 3px;
    padding-bottom: 5px;
    padding-left: 0px;
    left: 59vw;
    top: 212px;
}
.cart span:after {
      content: '\00bb';
      position: relative;
      opacity: 0;
      top: 0;
      right: 0px;
      transition: 0.3s ease;
    }
.cart:hover span:after {
      opacity: 1;
      right: -5px;
      color: white;
}
.cart:hover span {
    padding-left: 4px;
    color: white;
    transition: 0.3s ease;
}
.cart:hover {
    background: #00caff;
    transition: 0.3s ease;
    border: 2px solid transparent;
}

.revealOnScroll {
    opacity: 0;
}