body {
    margin: 0;
    padding: 0;
    background: #efece9;
    overflow-x: hidden;
}
#intro-gif {
    position: absolute;
    background-image: url(../images/alexa_logo_white.gif);
    background-size: cover;
    background-position: center;
    height: 110%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    top: -5%;
    z-index: 10000;
    opacity: 1;
    transition: all .5s ease;
}

.scroll-button-wrap {
    position: absolute;
    top: 80%;
    left: 27%;
    width: 20px;
    height: 20px;
    background: red;
    border: solid red;
}
.scroll-button:before,
.scroll-button:after {
    position: absolute;
    z-index: 100000;
    content:'';
    background: dimgrey;
    width: 30px;
    height: 3px;
    transition: all .5s ease;
}
.scroll-button:before {
    left: 11px;
    transform: rotate(140deg);
}
.scroll-button:after {
    left: -11px;
    transform: rotate(-140deg);
}
.page2 {
    position: relative;
    width: 100vw;
    max-width: 100%;
    z-index: 100;
}

.nav {
    position: fixed;
    display: block;
    padding: 0;
    margin: 0;
    top: 0;
    width: 100%;
    height: 40px;
    background: #232f3e;
    z-index: 101;
}

.button-wrap {
    float: right;
    margin-right: 100px;
}


.logo {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 3px;
    margin-left: 100px;
    width: 140px;
    height: 20px;
}

.products {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 30px;
    top: 7px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-family: 'aaux_prolightregular';
    transition: all .3s ease;
    cursor: pointer;
}
.nav-line {
    position: relative;
    display: inline-block;
    padding: 0;
    top: 7px;
    margin-left: 10px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-family: 'aaux_prolightregular';
    transition: all .5s ease;
}
.alexa {
    position: relative;
    display: inline-block;
    padding: 0;
    top: 7px;
    margin-left: 10px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-family: 'aaux_prolightregular';
    transition: all .3s ease;
}
.alexa span:after {
      content: '\00bb';
      position: relative;
      opacity: 0;
      top: 0;
      right: 0px;
      transition: 0.5s;
    }
.alexa:hover span:after {
      opacity: 1;
      right: -5px;
}

/* hamburger menu */
.hamburger {
    padding: 0;
    margin: 0;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: none;
    position: relative;
    margin-top: 3px;
}
.menu-button {
    position: absolute;
    top: 50%;
    left: 15%;
    background: white;
    transition: all .3s ease;
}
.menu-button:before,
.menu-button:after 
{
    content:'';
    position: absolute;
    width: 25px;
    height: 2.5px;
    background: white;
    transition: all .5s ease;
}
.menu-button:before {
    top: -4px;
}
.menu-button:after {
    top: 4px;
}
.menu-button.active {
    background: rgba(0,0,0,0);
}
.menu-button.active:before {
    top: 0px;
    transform: rotate(135deg);
}
.menu-button.active:after {
    top: 0px;
    transform: rotate(-135deg);
}
.hamburger-nav {
    display: none;
}

.dropdown {
    position: absolute;
    width: 100%;
    height: 0px;
    max-width: 100%;
    left: 0;
    top: 40px;
    background: #E8E7E7;
    opacity: .98;
    transition: height .5s ease;
    text-align: center;
    z-index: 10;
}

/* svg icons hover */

a.svg1 {
    content: url(../icons/Artboard3.svg); 
    position: relative; 
    top: -100px; 
    right: 0; 
    bottom: 0; 
    left: 0;
    width: 100px;
    height: 100px;
    display: block;
}
a.svg1:hover {
    content: url(../icons/Artboard32.svg); 
}
a.svg1:hover + .icon-text-1 {
    visibility: visible;
}
a.svg2 {
    content: url(../icons/Artboard4.svg); 
    position: relative; 
    top: -100px; 
    right: 0; 
    bottom: 0; 
    left: 0;
    width: 100px;
    height: 100px;
    display: block;
}
a.svg2:hover + .icon-text-2 {
    visibility: visible;
}
a.svg2:hover {
    content: url(../icons/Artboard42.svg); 
}
a.svg3 {
    content: url(../icons/Artboard5.svg); 
    position: relative; 
    top: -100px; 
    right: 0; 
    bottom: 0; 
    left: 0;
    width: 100px;
    height: 100px;
}
a.svg3:hover {
    content: url(../icons/Artboard52.svg); 
}
a.svg3:hover + .icon-text-3 {
    visibility: visible;
}
a.svg4 {
    content: url(../icons/Artboard6.svg); 
    position: relative; 
    top: -100px; 
    right: 0; 
    bottom: 0; 
    left: 0;
    width: 100px;
    height: 100px;
}
a.svg4:hover {
    content: url(../icons/Artboard62.svg); 
}
a.svg4:hover + .icon-text-4 {
    visibility: visible;
}
/* svg icon text */
.icon-text-wrap {
    position: absolute;
    display: block;
    width: 100vw;
    text-align: center;
    top: 110px;
}

.icon, .icon2, .icon3, .icon4 {
    position: relative;
    display: inline-block;
    width: 140px;
    height: 140px;
    text-align: center;
    visibility: hidden;
}
.icon-text-1, .icon-text-2, .icon-text-3, .icon-text-4 {
    display: block;
    position: relative;
    font-size: 18px;
    font-family: 'amazon_emberregular';
    color: #00caff;
    visibility: hidden;
    top: -5px;
}
.icon-text-1 {
    left: -22px;
}
.icon-text-2 {
    left: -19px;
}
.icon-text-4 {
    left: 3px;
}

.dropdown a {
    opacity: 0;
    transition: all .6s ease;
    visibility: hidden;
}

.page-1-img {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url(../images/dog.jpg);
    background-position: 80% 50%;
    background-size: cover;
}

.dog {
    width: 100%;
    height: 100%;
    max-width: 100%:
}

.pg2-text-wrap {
    position: absolute;
    top: 80px;
    width: 100vw;
    max-width: 100%;
    text-align: center;
}
.pg2-text1 {
    position: relative;
    display: inline-block;
    font-family: 'aaux_prolightregular';
    font-size: 80px;
    color: black;
    font-weight: 300;
}
.pg2-text2 {
    position: relative;
    display: inline-block;
    font-family: 'amazon_emberregular';
    font-size: 80px;
    color: #00caff;
    font-weight: 300;
    margin-left: 10px;
}
/* echo show text */
.page-1-img2 {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url(../images/Artboard%204-100.jpg);
    background-position: 80% 50%;
    background-size: cover;
}
.pg2-text-wrap2 {
    position: absolute;
    top: 80px;
    width: 100vw;
    max-width: 100%;
    text-align: left;
    padding: 50px;
}
.pg2-text12 {
    position: relative;
    display: block;
    font-family: 'aaux_prolightregular';
    font-size: 80px;
    color: white;
    font-weight: 300;
}
.pg2-text22 {
    position: relative;
    display: block;
    font-family: 'amazon_emberregular';
    font-size: 80px;
    color: #00caff;
    font-weight: 300;
}
.pg2-button2 {
    position: absolute;
    top: 250px;
    width: 100vw;
    text-align: center;
}
.pg2-scroll-text2 {
    display: block;
    font-family: 'aaux_prolightregular';
    font-size: 30px;
    color: #D7D6D6;
    margin-top: 10px;
}
.pg2-scroll-text22 {
    display: block;
    font-family: 'aaux_prolightregular';
    font-size: 30px;
    color: #D7D6D6;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
}
.options2 {
    display: inline-block;
    font-family: 'aaux_prolightregular';
    font-size: 30px;
    color: #D7D6D6;
    background:;
    width: 200px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 5px;
    border: 1.5px solid #D7D6D6;
    border-radius: 5px;
    padding-top: 3px;
    padding-bottom: 5px;
    padding-left: 0px;
}
.options2 span:after {
      content: '\00bb';
      position: relative;
      opacity: 0;
      top: 0;
      right: 0px;
      transition: 0.3s ease;
    }
.options2:hover span:after {
      opacity: 1;
      right: -5px;
      color: white;
}
.options2:hover span {
    padding-left: 4px;
    color: white;
    transition: 0.3s ease;
}
.options2:hover {
    background: #00caff;
    transition: 0.3s ease;
    border: 2px solid transparent;
}
.bounce-scroll2 {
    position: absolute;
    transition: all .3s ease;
    content:'';
    width: 25px;
    height: 25px;
    background: transparent;
    left: 35px;
}
.bounce-scroll2:before,
.bounce-scroll2:after {
    content:'';
    position: absolute;
    width: 25px;
    height: 3px;
    background: #D7D6D6;
    transition: all .5s ease;
}
.bounce-scroll2:before {
    top: 4px;
    left: 8px;
    transform: rotate(-45deg);
}
.bounce-scroll2:after {
    top: 4px;
    left: -8px;
    transform: rotate(45deg);
}
.show-content {
    position: relative;
    height: 100vh;
    width: 100vw;
    text-align: center;
}
.show-text {
    display: block;
    padding-top: 50vh;
    font-family: 'amazon_emberregular';
    font-size: 80px;
}


.pg2-button {
    position: absolute;
    top: 200px;
    width: 100vw;
    text-align: center;
}
.pg2-scroll-text {
    display: block;
    font-family: 'aaux_prolightregular';
    font-size: 30px;
    color: dimgrey;
    margin-top: 20px;
}
.pg2-scroll-text2 {
    display: block;
    font-family: 'aaux_prolightregular';
    font-size: 30px;
    color: dimgrey;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
}
.options {
    display: inline-block;
    font-family: 'aaux_prolightregular';
    font-size: 30px;
    color: dimgrey;
    background:;
    width: 200px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 5px;
    border: 1.5px solid dimgrey;
    border-radius: 5px;
    padding-top: 3px;
    padding-bottom: 5px;
    padding-left: 0px;
}
.options span:after {
      content: '\00bb';
      position: relative;
      opacity: 0;
      top: 0;
      right: 0px;
      transition: 0.3s ease;
    }
.options:hover span:after {
      opacity: 1;
      right: -5px;
      color: white;
}
.options:hover span {
    padding-left: 4px;
    color: white;
    transition: 0.3s ease;
}
.options:hover {
    background: #00caff;
    transition: 0.3s ease;
    border: 2px solid transparent;
}

@keyframes mybounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-7px);
  }
  60% {
    transform: translateY(-3px);
  }
}

.bounce-scroll-wrap {
    text-align: center;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 30px;
    padding: 0;
    margin-top: 20px;
    animation: mybounce 1.5s infinite;
}
.bounce-scroll {
    position: absolute;
    transition: all .3s ease;
    content:'';
    width: 25px;
    height: 25px;
    background: transparent;
    left: 35px;
}
.bounce-scroll:before,
.bounce-scroll:after {
    content:'';
    position: absolute;
    width: 25px;
    height: 3px;
    background: dimgrey;
    transition: all .5s ease;
}
.bounce-scroll:before {
    top: 4px;
    left: 8px;
    transform: rotate(-45deg);
}
.bounce-scroll:after {
    top: 4px;
    left: -8px;
    transform: rotate(45deg);
}


/* dropdown hover */

.products:hover {
    color: #00caff;
}
.products:hover + .dropdown {
    height: 130px;
}
.products:hover +.dropdown a{
    opacity: 1;
    top: 0;
    visibility: visible;
}
.dropdown:hover {
    height: 130px;
    
}
.dropdown:hover a {
    opacity: 1;
    top: 0;
    visibility: visible;
}



.alexa:hover {
    color: #00caff;
}
.speaker-content {
    width: 100vw;
    max-width: 100%;
    text-align: center;
    padding-top: 10vh;
}
.speaker-img {
    background-image: url(../images/Echo%20X-ray.png);
    background-size: cover;
    display: inline-block;
    width: 400px;
    height: 400px;
    
}
.speaker-text-wrap {
    position: relative;
    display: inline-block;
    top:-100px;
    width: 40vw;
    text-align: center;
    
}

.speaker-text-1 {
    position: relative;
    font-family: 'gabriel_sans_thinregular';
    font-size: 80px;
    font-weight: 500;
}
.speaker-text-2 {
    position: relative;
    margin-top: 20px;
    position: relative;
    font-family: 'gabriel_sans_boldregular';
    font-size: 25px;
    font-weight: bold;
}
.dolby {
    position: relative;
    margin-top: 20px;
    width: 200px;
}
.speaker-info-wrap {
    position: relative;
    width: 100vw;
    max-width: 100%;
    text-align: center;
    top: 5vh;
}
.speaker-info {
    position: relative;
    display: inline-block;
    font-family: 'aaux_prolightregular';
    font-size: 22.5px;
    text-align: center;
    width: 60vw;
}


.learn-dolby {
    display: block;
    font-family: 'aaux_prolightregular';
    font-size: 20px;
    color: #00caff;
    margin-top: 10px;
}

.speaker-bubble-wrap {
    position: relative;
    width: 100vw;
    max-width: 100%;
    text-align: center;
    padding-top: 10vh;
}
.speaker-bubble1 {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 300px;
    background: snow;
    border-radius: 10px;
    margin: 25px;    
}
.speaker-bubble1-tri {
    position: absolute;
	width: 0;
	height: 0;
	border-top: 25px solid snow;
	border-right: 25px solid transparent;
    left: 25px;
    top: 50px;
    transition: all 0.5s ease;
    z-index: 10;
}
.speaker-bubble2 {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 300px;
    background: snow;
    border-radius: 10px;
    margin: 25px;
}
.speaker-bubble3 {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 300px;
    background: snow;
    border-radius: 10px;
    margin: 25px;
}
.bubble-quote {
    position: absolute;
    text-align: center;
    width: 300px;
    font-family: 'bookerlyitalic';
    font-size: 15px;
    color: dimgray;
    padding-top: 13px;
}
.bubble-quote1 {
    position: absolute;
    text-align: center;
    width: 300px;
    font-family: 'bookerlyitalic';
    font-size: 13px;
    color: dimgray;
    padding-top: 6px;
}
.music-logos {
    position: relative;
    width: 100vw;
    display: inline-block;
    top:0;
    text-align: center;
}
.logos-1, .logos-2 {
    display: block;
}
.logos-1 {
    padding-top: 50px;
}
.logos-2 {
    padding-top: 25px;
}
.amazon_music {
    width: 100px;
    padding-left: 60px;
}
.spotify {
    width: 200px;
    padding-left: 60px;
}
.pandora {
    width: 200px;
    padding-left: 40px;
    padding-bottom: 8px;
}
.audible {
    width: 100px;
    padding-left: 50px;
}
.sirius {
    width: 200px;
    padding-left: 50px;
    margin-bottom: 25px;
}
.mic-content {
    position: relative;
    width: 100vw;
    padding-top: 15vh;
    text-align: center;
}
.mic-text-wrap {
    text-align: center;
    position: relative;
    display: inline-block;
    width: 550px;
    margin-top: 0;
    margin-right: 100px;
}
.mic-image {
    background-image: url(../images/echo-top.png);
    display: inline-block;
    background-size: cover;
    width: 400px;
    height: 400px;   
}
.mic-text-1 {
    position: relative;
    display: block;
    font-family: 'gabriel_sans_boldregular';
    font-size: 25px;
    font-weight: bold;
}
.mic-text-2 {
    position: relative;
    display: block;
    font-family: 'gabriel_sans_thinregular';
    font-size: 65px;
    font-weight: 500;
    margin-top: 20px;
}
.mic-box-wrap {
    position: relative;
    display: inline-block;
    width: 100%;
    height:10px;
    margin-top: 20px;
    text-align: center;
}
.mic-box {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 5px;
    background: black;
}
.mic-learn {
    position: relative;
    display: block;
    
    font-family: 'aaux_prolightregular';
    font-size: 20px;
    color: #00caff;
    margin-top: 10px;
}
.mic-info {
    position: relative;
    display: inline-block;
    font-family: 'aaux_prolightregular';
    font-size: 22.5px;
    text-align: center;
    width: 35vw;
    padding-top: 3vh; 
}
.mic-bubble-wrap {
    position: relative;
    width: 100vw;
    max-width: 100%;
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
.echo-quote {
    position: relative;
    display: block;
    font-family: 'aaux_prolightregular';
    font-size: 50px;
    letter-spacing: 10px;
    width: 100vw;
    text-align: center;
}
.handsfree-content {
    position: relative;
    width: 100vw;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 10vh;
    padding-bottom: 20vh;
}
.handsfree-img {
    position: relative;
    display: inline-block;
    width: 580px;
    height: 500px;
}
.handsfree-text-wrap {
    display: inline-block;
    text-align: left;
    width: 580px;
    height: 500px;
    vertical-align: top;
    padding-left: 70px;
}
.handsfree-text1-wrap {
    width: 40vw;
    display: inline-block;
}
.handsfree-text1 {
    position: relative;
    text-align: left;
    font-family: 'gabriel_sans_thinregular';
    font-size: 40px;
    font-weight: 500;
}
.handsfree-info {
    position: relative;
    display: inline-block;
    font-family: 'aaux_prolightregular';
    font-size: 22.5px;
    text-align: left;
    width: 35vw;
    margin-top: 50px;
    word-spacing: 4.5px;
}
#handsfree {
    height: 100%;
}
.learn-hands {
    display: block;
    text-align: center;
    font-family: 'aaux_prolightregular';
    font-size: 20px;
    color: #00caff;
    margin-top: 10px;
}
.gradient {
    position: relative;
    width: 100vw;
    height: 200px;
    background: linear-gradient(#efece9,#f2f2ef);
    text-align: center;
}
.voice-content {
    position: relative;
    width: 100vw;
}
.voice-background {
    background-image: url(../images/Artboard%206-100.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
}
.voice-text {
    position: relative;
    text-align: center;
    font-family: 'gabriel_sans_thinregular';
    font-size: 50px;
    font-weight: 500;
    padding-top: 5vh;
}
.voice-info {
    position: relative;
    display: inline-block;
    font-family: 'aaux_prolightregular';
    font-size: 22.5px;
    text-align: center;
    width: 36vw;
    margin-top: 3vh;
    word-spacing: 4.5px;
    margin-bottom: 10px;
}
.voice-info-wrap {
    width: 100vw;
    text-align: center;
}
.voice-learn {
    text-align: center;
    font-family: 'aaux_prolightregular';
    font-size: 20px;
    color: #00caff;
    margin-top: 10px;
}
@media screen and (max-width: 800px) {
    .logo {
        margin-left: 20px;
    }
    .hamburger {
        display: inline-block;
        float: right;
        margin-right: 20px;
    }
    .button-wrap {
        display: none;
    }
    .hamburger-nav {
        display: block;
        position: absolute;
        top: 40px;
        width: 100vw;
        height: 0px;
        background: white;
        opacity: 0.98;
        transition: height .5s ease;
    }
    .hamburger-nav.active {
        position: absolute;
        width: 100vw;
        height: 300px;
        background: white;
        opacity: 0.95;
    }
    @keyframes menutextfade {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes menutextfadeout {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    .ham-content {
        visibility: hidden;
        animation-name: menutextfadeout;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 1;
        animation-duration: .3s;
    }
    .ham-content.active {
        animation-name: menutextfade;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 1;
        animation-duration: .3s;
        visibility: visible;
    }
    .ham-content.active {
        visibility: visible;
    }
    .ham-products {
        position: relative;
        display: block;
        width: 80vw;
        text-align: left;
        padding: 0;
        margin-top: 10px;
        margin-left: 10vw;
        height: 30px;
        color: dimgrey;
        font-size: 30px;
        text-decoration: none;
        font-family: 'aaux_prolightregular';
        transition: all .3s ease, border 0s ease;
        border-bottom: 3px solid dimgrey;
        padding-bottom: 10px;
    }
    .ham-alexa {
        position: relative;
        display: block;
        width: 80vw;
        text-align: left;
        padding: 0;
        margin-top: 10px;
        margin-left: 10vw;
        height: 30px;
        color: dimgrey;
        font-size: 30px;
        text-decoration: none;
        font-family: 'aaux_prolightregular';
        transition: all .3s ease, border 0s;
        border-bottom: 3px solid dimgrey;
        padding-bottom: 10px;
        cursor: pointer;
    }
    .ham-alexa span:after {
      content: '\00bb';
      position: relative;
      opacity: 0;
      top: 0;
      right: 0px;
      transition: 0.5s;
    }
    .ham-alexa:hover span:after {
      opacity: 1;
      right: -10px;
    }
    .ham-alexa:hover span {
        color: #00caff;
    }
    .ham-icon-wrap {
        position: relative;
        display: block;
        text-align: center;
        width: 100vw;
        margin-top: 10px;
    }
    .ham-icon, .ham-icon2, .ham-icon3, .ham-icon4 {
        position: relative;
        display: inline-block;
        width: 140px;
        height: 140px;
        text-align: center;
    }
/* svg icons hover */

    a.ham-svg1 {
        content: url(../icons/Artboard3.svg); 
        position: relative; 
        right: 0; 
        bottom: 0; 
        left: 0;
        width: 100px;
        height: 100px;
        display: block;
    }
    a.ham-svg1:hover {
        content: url(../icons/Artboard32.svg); 
    }
    a.ham-svg1:hover + .icon-text-1 {
        visibility: visible;
    }
    a.ham-svg2 {
        content: url(../icons/Artboard4.svg); 
        position: relative; 
        right: 0; 
        bottom: 0; 
        left: 0;
        width: 100px;
        height: 100px;
        display: block;
    }
    a.ham-svg2:hover + .icon-text-2 {
        visibility: visible;
    }
    a.ham-svg2:hover {
        content: url(../icons/Artboard42.svg); 
    }
    a.ham-svg3 {
        content: url(../icons/Artboard5.svg); 
        position: relative;  
        right: 0; 
        bottom: 0; 
        left: 0;
        width: 100px;
        height: 100px;
    }
    a.ham-svg3:hover {
        content: url(../icons/Artboard52.svg); 
    }
    a.ham-svg3:hover + .icon-text-3 {
        visibility: visible;
    }
    a.ham-svg4 {
        content: url(../icons/Artboard6.svg); 
        position: relative;  
        right: 0; 
        bottom: 0; 
        left: 0;
        width: 100px;
        height: 100px;
    }
    a.ham-svg4:hover {
        content: url(../icons/Artboard62.svg); 
    }
    a.ham-svg4:hover + .icon-text-4 {
        visibility: visible;
    }
}
.revealOnScroll {
    opacity: 0;
}