body {
    margin: 0;
    padding: 0;
    background: #efece9;
}
#intro-gif {
    position: absolute;
    width: 100vw;
    max-width: 100%;
    margin: 0;
    padding: 0;
    top: -5%;
    z-index: 10000;
    opacity: 1;
    transition: all .5s ease;
}

.circle {
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100vw;
    height: 100vw;
    border-radius: 50%;
    background: white;
    opacity: 1;
    transform:scale(2,2);
    transition: transform 1.5s ease, opacity 2s ease, background 3s ease, border-radius .5s ease;
    z-index: 1000;
}
.circle.animated {
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100vw;
    height: 100vw;
    border-radius: 50%;
    background: white;
    opacity: 0;
    transform:scale(0,0);
    z-index: 1000;
}

.echoimg {
    position: absolute;
    background-image: url(images/background-01.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 1;
}
#img {
    width: 100vw;
    max-width: 100%;
    position: absolute;
    z-index: 1;
    bottom: 0;
}



.bubble-wrap {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 1000px;
    height: 140px;
    top: 20%;
    left: 10%;
}

.bubble {
    position: relative;
    margin: 0;
    padding: 0;
    width: 0;
    height: 180px;
    border-radius: 30px;
    transition: all .6s ease;
    background: white;
    z-index: 100;
}
.bubble.animated {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 760px;
    height: 180px;
    border-radius: 35px;
    background: white;
    z-index: 100;
    animation-name: bubble;
    animation-duration: .5s;
    animation-delay: .4s;
    animation-iteration-count: 1;
    transform-origin: left;
}
.text {
    position: relative;
    display: inline-block;
    font-family: "Bookerly";
    font-size: 55px;
    left: 50px;
    top: 50px;    
    color: dimgrey;
    transition: all 1.5s ease;
    opacity: 0;
    z-index: 101;
}
.text2 {
    position: relative;
    display: inline-block;
    font-family: "Bookerly";
    font-size: 55px;
    left: 50px;
    top: 50px; 
    color: dimgrey;
    transition: all 1.5s ease;
    opacity: 0;
    z-index: 101;
}
@keyframes bubble {
    0% {
    transform:scale(1,1);
    }
    40% {
    transform:scale(1.04,1.04);
    }
    60%{
    transform:scale(1,1);
    }
    70% {
    transform:scale(1.03,1.03);   
    }
}
.triangle {
    position: absolute;
	width: 0;
	height: 0;
	border-top: 0px solid white;
	border-right: 80px solid transparent;
    left: 60px;
    top: 170px;
    transition: all 0.5s ease;
    z-index: 10;
}

.bubble-wrap2 {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 900px;
    height: 140px;
    top: 10%;
    left: 50%;
}
.bubble2 {
    position: relative;
    margin: 0;
    padding: 0;
    width: 0;
    height: 180px;
    border-radius: 30px;
    transition: all .5s ease;
    background: white;
    z-index: 100;
}
.bubble2.animated {
    position: absolute;
    margin: 0;
    padding: 0;
    border-radius: 35px;
    background: white;
    z-index: 100;
    width: 900px;
    height: 180px;
    animation-name: bubble;
    animation-duration: .5s;
    animation-delay: .4s;
    animation-iteration-count: 1;
    transform-origin: center;
}
.text21 {
    position: relative;
    display: inline-block;
    top: 50px;
    left: 50px;
    font-family: "Bookerly";
    font-size: 55px;
    color: dimgrey;
    transition: all 1s ease;
    opacity: 0;
    z-index: 101;
}
.text22 {
    position: relative;
    display: inline-block;
    top: 50px;
    left: 50px;
    font-family: "Bookerly";
    font-size: 55px;
    color: dimgrey;
    transition: all 1s ease;
    opacity: 0;
    z-index: 101;
}
.triangle2 {
    position: absolute;
	width: 0;
	height: 0;
	border-top: 0px solid white;
	border-left: 80px solid transparent;
    left: 710px;
    top: 179px;
    transition: all 0.5s ease;
    z-index: 10;
}




/* background circle animation */
.circle-background {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    z-index: 100;
}
.circle1 {
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100vw;
    height: 100vw;
    border-radius: 50%;
    background: white;
    opacity: 1;
    transform:scale(0,0);
    transition: transform 1.5s ease, opacity .5s ease, color 1s ease;
}
.circle1.animated {
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100vw;
    height: 100vw;
    border-radius: 50%;
    background: #00CAFF;
    transform:scale(2,2);
}

.circle2 {
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100vw;
    height: 100vw;
    border-radius: 50%;
    background: white;
    transform:scale(0,0);
    transition: transform 2s ease, opacity .5s ease, color 1s ease;
}
.circle2.animated {
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100vw;
    height: 100vw;
    border-radius: 50%;
    background: #00CAFF;
    transform:scale(2,2);
}
.circle3 {
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100vw;
    height: 100vw;
    border-radius: 50%;
    background: lightblue;
    transform:scale(0,0);
    transition: transform 2.5s ease, opacity 2s ease;
}
.circle3.animated {
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100vw;
    height: 100vw;
    border-radius: 50%;
    background: white;
    transform:scale(2,2);
}
.circle4 {
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100vw;
    height: 100vw;
    border-radius: 50%;
    background: lightblue;
    transform:scale(0,0);
    transition: transform 3s ease, opacity 2s ease;
}
.circle4.animated {
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100vw;
    height: 100vw;
    border-radius: 50%;
    background: white;
    transform:scale(2,2);
}
.circle5 {
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100vw;
    height: 100vw;
    border-radius: 50%;
    background: lightblue;
    transform:scale(0,0);
    transition: transform 3.5s ease, opacity 2s ease;
}
.circle5.animated {
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100vw;
    height: 100vw;
    border-radius: 50%;
    background: white;
    transform:scale(2,2);
}

.meet-text {
    position: absolute;
    top: 25%;
    z-index: 1000;
    font-family: 'Aaux Prolight';
    font-size: 70px;
    color: dimgray;
    opacity: 0;
    transition: all 1.3s ease;
    transform:translateY(0);
    width: 100vw;
    text-align: center;
    max-width: 100%;
}

.meet-text2 {
    position: absolute;
    top: 32%;
    z-index: 1000;
    font-family: 'Aaux Prolight';
    font-size: 120px;
    color: #00caff;
    opacity: 0;
    transition: all 1.3s ease;
    transform:translateY(0);
    width: 100vw;
    text-align: center;
    max-width: 100%;
}



.next {
    position: relative;
    width: 100vw;
    height: 100vh;
    max-width: 100%; 
    z-index: 99;
}

.page2 {
    position: relative;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    z-index: 100;
}

.nav {
    position: fixed;
    display: block;
    padding: 0;
    margin: 0;
    top: 0;
    width: 100%;
    height: 70px;
    background: black;
    z-index: 101;
}

.button-wrap {
    float: right;
    margin-right: 100px;
}


.logo {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
    background: white;
    width: 100px;
    height: 50px;
}

.products {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 70px;
    color: white;
    font-size: 40px;
    text-decoration: none;
    font-family: 'Aaux Prolight';
    transition: all .3s ease;
}
.nav-line {
    position: relative;
    display: inline-block;
    padding: 0;
    top: 5px;
    margin-left: 20px;
    color: white;
    font-size: 50px;
    text-decoration: none;
    font-family: 'Aaux Prolight';
    transition: all .5s ease;
}
.alexa {
    position: relative;
    display: inline-block;
    padding: 0;
    margin-left: 20px;
    color: white;
    font-size: 40px;
    text-decoration: none;
    font-family: 'Aaux Prolight';
    transition: all .3s ease;
}

.dropdown {
    position: absolute;
    width: 100%;
    height: 0px;
    max-width: 100%;
    left: 0;
    top: 70px;
    background: #E8E7E7;
    opacity: .95;
    transition: height .5s ease;
    text-align: center;
}

/* svg icons hover */

a.svg1 {
    content: url(/icons/Artboard%203.svg); 
    position: relative; 
    top: -100px; 
    right: 0; 
    bottom: 0; 
    left: 0;
    width: 260px;
    height: 260px;
}
a.svg1:hover {
    content: url(/icons/Artboard%2032.svg); 
}
a.svg1:hover ~ .icon-text-wrap > .icon-text-1 {
    visibility: visible;
}
a.svg2 {
    content: url(/icons/Artboard%204.svg); 
    position: relative; 
    top: -100px; 
    right: 0; 
    bottom: 0; 
    left: 0;
    width: 260px;
    height: 260px;
}
a.svg2:hover ~ .icon-text-wrap > .icon-text-2 {
    visibility: visible;
}
a.svg2:hover {
    content: url(/icons/Artboard%2042.svg); 
}
a.svg3 {
    content: url(/icons/Artboard%205.svg); 
    position: relative; 
    top: -100px; 
    right: 0; 
    bottom: 0; 
    left: 0;
    width: 260px;
    height: 260px;
}
a.svg3:hover {
    content: url(/icons/Artboard%2052.svg); 
}
a.svg3:hover ~ .icon-text-wrap > .icon-text-3 {
    visibility: visible;
}
a.svg4 {
    content: url(/icons/Artboard%206.svg); 
    position: relative; 
    top: -100px; 
    right: 0; 
    bottom: 0; 
    left: 0;
    width: 260px;
    height: 260px;
}
a.svg4:hover {
    content: url(/icons/Artboard%2062.svg); 
}
a.svg4:hover ~ .icon-text-wrap > .icon-text-4 {
    visibility: visible;
}
/* svg icon text */
.icon-text-wrap {
    position: absolute;
    display: block;
    width: 100vw;
    text-align: center;
    top: 250px;
}

.icon-text-1, .icon-text-2, .icon-text-3, .icon-text-4 {
    display: inline-block;
    font-size: 40px;
    font-family: 'Aaux Prolight';
    color: #00caff;
    margin-left: 125px;
    margin-right: 115px;
}
.icon-text-1 {
    margin-right: 70px;
    visibility: hidden;
}
.icon-text-2 {
    margin-right: 50px;
    visibility: hidden;
}
.icon-text-3 {
    margin-left: 160px;
    margin-right: 130px;
    visibility: hidden;
}
.icon-text-4 {
    margin-left: 85px;
    visibility: hidden;
}

.icon {
    width: 260px;
    height: 260px;
    margin-left: 50px;
    margin-top: 40px;
    display: inline-block;
}

.dropdown a {
    opacity: 0;
    transition: all .6s ease;
    visibility: hidden;
}

.page-1-img {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url(images/dog.jpg);
    background-position: 80% 50%;
    background-size: cover;
}

.dog {
    width: 100%;
    height: 100%;
    max-width: 100%:
}

.pg2-text-wrap {
    position: absolute;
    top: 250px;
    left: 500px;    
}
.pg2-text1 {
    position: relative;
    display: inline-block;
    font-family: 'Aaux Prolight';
    font-size: 150px;
    color: black;
    font-weight: 300;
}
.pg2-text2 {
    position: relative;
    display: inline-block;
    font-family: 'Aaux Prolight';
    font-size: 150px;
    color: #00caff;
    font-weight: 300;
    margin-left: 30px;
}

/* dropdown hover */

.products:hover {
    color: #00caff;
}
.products:hover + .dropdown {
    height: 300px;
}
.products:hover +.dropdown a{
    opacity: 1;
    top: 0;
    visibility: visible;
}
.dropdown:hover {
    height: 300px;
    
}
.dropdown:hover a {
    opacity: 1;
    top: 0;
    visibility: visible;
}



.alexa:hover {
    color: #00caff;
}

