body {
    margin: 0;
    padding: 0;
    background: #efece9;
    overflow-x: hidden;
}
#intro-gif {
    position: absolute;
    width: 100vw;
    max-width: 100%;
    margin: 0;
    padding: 0;
    top: -5%;
    z-index: 10000;
    opacity: 1;
    transition: all .5s ease;
}

.circle {
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100vw;
    height: 100vw;
    border-radius: 50%;
    background: white;
    opacity: 1;
    transform:scale(2,2);
    transition: transform 1.5s ease, opacity 2s ease, background 3s ease, border-radius .5s ease;
    z-index: 1000;
}
.circle.animated {
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100vw;
    height: 100vw;
    border-radius: 50%;
    background: white;
    opacity: 0;
    transform:scale(0,0);
    z-index: 1000;
}

.echoimg {
    position: absolute;
    background-image: url(images/background-01.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 1;
}
#img {
    width: 100vw;
    max-width: 100%;
    position: absolute;
    z-index: 1;
    bottom: 0;
}



.bubble-wrap {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 1000px;
    height: 140px;
    top: 20%;
    left: 10%;
}

.bubble {
    position: relative;
    margin: 0;
    padding: 0;
    width: 0;
    height: 180px;
    border-radius: 30px;
    transition: all .6s ease;
    background: white;
    z-index: 100;
}
.bubble.animated {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 760px;
    height: 180px;
    border-radius: 35px;
    background: white;
    z-index: 100;
    animation-name: bubble;
    animation-duration: .5s;
    animation-delay: .4s;
    animation-iteration-count: 1;
    transform-origin: left;
}
.text {
    position: relative;
    display: inline-block;
    font-family: "Bookerly";
    font-size: 55px;
    left: 50px;
    top: 50px;    
    color: dimgrey;
    transition: all 1.5s ease;
    opacity: 0;
    z-index: 101;
}
.text2 {
    position: relative;
    display: inline-block;
    font-family: "Bookerly";
    font-size: 55px;
    left: 50px;
    top: 50px; 
    color: dimgrey;
    transition: all 1.5s ease;
    opacity: 0;
    z-index: 101;
}
@keyframes bubble {
    0% {
    transform:scale(1,1);
    }
    40% {
    transform:scale(1.04,1.04);
    }
    60%{
    transform:scale(1,1);
    }
    70% {
    transform:scale(1.03,1.03);   
    }
}
.triangle {
    position: absolute;
	width: 0;
	height: 0;
	border-top: 0px solid white;
	border-right: 80px solid transparent;
    left: 60px;
    top: 170px;
    transition: all 0.5s ease;
    z-index: 10;
}

.bubble-wrap2 {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 900px;
    height: 140px;
    top: 10%;
    left: 50%;
}
.bubble2 {
    position: relative;
    margin: 0;
    padding: 0;
    width: 0;
    height: 180px;
    border-radius: 30px;
    transition: all .5s ease;
    background: white;
    z-index: 100;
}
.bubble2.animated {
    position: absolute;
    margin: 0;
    padding: 0;
    border-radius: 35px;
    background: white;
    z-index: 100;
    width: 900px;
    height: 180px;
    animation-name: bubble;
    animation-duration: .5s;
    animation-delay: .4s;
    animation-iteration-count: 1;
    transform-origin: center;
}
.text21 {
    position: relative;
    display: inline-block;
    top: 50px;
    left: 50px;
    font-family: "Bookerly";
    font-size: 55px;
    color: dimgrey;
    transition: all 1s ease;
    opacity: 0;
    z-index: 101;
}
.text22 {
    position: relative;
    display: inline-block;
    top: 50px;
    left: 50px;
    font-family: "Bookerly";
    font-size: 55px;
    color: dimgrey;
    transition: all 1s ease;
    opacity: 0;
    z-index: 101;
}
.triangle2 {
    position: absolute;
	width: 0;
	height: 0;
	border-top: 0px solid white;
	border-left: 80px solid transparent;
    left: 710px;
    top: 179px;
    transition: all 0.5s ease;
    z-index: 10;
}




/* background circle animation */
.circle-background {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    z-index: 100;
}
.circle1 {
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100vw;
    height: 100vw;
    border-radius: 50%;
    background: white;
    opacity: 1;
    transform:scale(0,0);
    transition: transform 1.5s ease, opacity .5s ease, color 1s ease;
}
.circle1.animated {
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100vw;
    height: 100vw;
    border-radius: 50%;
    background: #00CAFF;
    transform:scale(2,2);
}

.circle2 {
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100vw;
    height: 100vw;
    border-radius: 50%;
    background: white;
    transform:scale(0,0);
    transition: transform 2s ease, opacity .5s ease, color 1s ease;
}
.circle2.animated {
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100vw;
    height: 100vw;
    border-radius: 50%;
    background: #00CAFF;
    transform:scale(2,2);
}
.circle3 {
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100vw;
    height: 100vw;
    border-radius: 50%;
    background: lightblue;
    transform:scale(0,0);
    transition: transform 2.5s ease, opacity 2s ease;
}
.circle3.animated {
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100vw;
    height: 100vw;
    border-radius: 50%;
    background: white;
    transform:scale(2,2);
}
.circle4 {
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100vw;
    height: 100vw;
    border-radius: 50%;
    background: lightblue;
    transform:scale(0,0);
    transition: transform 3s ease, opacity 2s ease;
}
.circle4.animated {
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100vw;
    height: 100vw;
    border-radius: 50%;
    background: white;
    transform:scale(2,2);
}
.circle5 {
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100vw;
    height: 100vw;
    border-radius: 50%;
    background: lightblue;
    transform:scale(0,0);
    transition: transform 3.5s ease, opacity 2s ease;
}
.circle5.animated {
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100vw;
    height: 100vw;
    border-radius: 50%;
    background: white;
    transform:scale(2,2);
}

.meet-text {
    position: absolute;
    top: 25%;
    z-index: 1000;
    font-family: 'Aaux Prolight';
    font-size: 50px;
    color: dimgray;
    opacity: 0;
    transition: opacity 1.3s ease, transform 1.3s ease;
    transform:translateY(0);
    width: 100vw;
    text-align: center;
    max-width: 100%;
}

.meet-text2 {
    position: relative;
    z-index: 1000;
    font-family: 'Aaux Prolight';
    font-size: 80px;
    color: #01a8e0;
    opacity: 0;
    transition: opacity 1.3s ease, transform 1.3s ease;
    transform:translateY(0);
    width: 100vw;
    text-align: center;
    max-width: 100%;
}
.smile-wrap {
    position: absolute;
    width: 100vw;
    max-width: 100%;
    text-align: center;
    top: 32%;
}
#smile {
    position: relative;
    width: 150px;
    z-index: 10000;
    transition: opacity 1.3s ease;
    opacity: 0;
    top: -32px;
}
.scroll-button {
    position: absolute;
    font-family: sans-serif;
    font-size: 50px;
    width: 100px;
    height: 50px;
    top: 60%;
    left: 60%;
    text-decoration: none;
    z-index: 100000;
    border: solid red;
    z-index: 10000;
}


.next {
    position: relative;
    width: 100vw;
    height: 100vh;
    max-width: 100%; 
    z-index: 99;
}

.page2 {
    position: relative;
    width: 100vw;
    height: 300vh;
    max-width: 100%;
    z-index: 100;
}

.nav {
    position: fixed;
    display: block;
    padding: 0;
    margin: 0;
    top: 0;
    width: 100%;
    height: 40px;
    background: #232f3e;
    z-index: 101;
}

.button-wrap {
    float: right;
    margin-right: 100px;
}


.logo {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 3px;
    margin-left: 100px;
    width: 140px;
    height: 20px;
}

.products {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 30px;
    top: 7px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Aaux Prolight';
    transition: all .3s ease;
}
.nav-line {
    position: relative;
    display: inline-block;
    padding: 0;
    top: 7px;
    margin-left: 10px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Aaux Prolight';
    transition: all .5s ease;
}
.alexa {
    position: relative;
    display: inline-block;
    padding: 0;
    top: 7px;
    margin-left: 10px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Aaux Prolight';
    transition: all .3s ease;
}

/* hamburger menu */
.hamburger {
    padding: 0;
    margin: 0;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: none;
    position: relative;
    margin-top: 3px;
}
.menu-button {
    position: absolute;
    top: 50%;
    left: 15%;
    background: white;
    transition: all .3s ease;
}
.menu-button:before,
.menu-button:after 
{
    content:'';
    position: absolute;
    width: 25px;
    height: 2.5px;
    background: white;
    transition: all .5s ease;
}
.menu-button:before {
    top: -4px;
}
.menu-button:after {
    top: 4px;
}
.menu-button.active {
    background: rgba(0,0,0,0);
}
.menu-button.active:before {
    top: 0px;
    transform: rotate(135deg);
}
.menu-button.active:after {
    top: 0px;
    transform: rotate(-135deg);
}

.dropdown {
    position: absolute;
    width: 100%;
    height: 0px;
    max-width: 100%;
    left: 0;
    top: 40px;
    background: #E8E7E7;
    opacity: .95;
    transition: height .5s ease;
    text-align: center;
    z-index: 10;
}

/* svg icons hover */

a.svg1 {
    content: url(/icons/Artboard%203.svg); 
    position: relative; 
    top: -100px; 
    right: 0; 
    bottom: 0; 
    left: 0;
    width: 100px;
    height: 100px;
    display: block;
}
a.svg1:hover {
    content: url(/icons/Artboard%2032.svg); 
}
a.svg1:hover + .icon-text-1 {
    visibility: visible;
}
a.svg2 {
    content: url(/icons/Artboard%204.svg); 
    position: relative; 
    top: -100px; 
    right: 0; 
    bottom: 0; 
    left: 0;
    width: 100px;
    height: 100px;
    display: block;
}
a.svg2:hover + .icon-text-2 {
    visibility: visible;
}
a.svg2:hover {
    content: url(/icons/Artboard%2042.svg); 
}
a.svg3 {
    content: url(icons/Artboard%205.svg); 
    position: relative; 
    top: -100px; 
    right: 0; 
    bottom: 0; 
    left: 0;
    width: 100px;
    height: 100px;
}
a.svg3:hover {
    content: url(/icons/Artboard%2052.svg); 
}
a.svg3:hover + .icon-text-3 {
    visibility: visible;
}
a.svg4 {
    content: url(/icons/Artboard%206.svg); 
    position: relative; 
    top: -100px; 
    right: 0; 
    bottom: 0; 
    left: 0;
    width: 100px;
    height: 100px;
}
a.svg4:hover {
    content: url(/icons/Artboard%2062.svg); 
}
a.svg4:hover + .icon-text-4 {
    visibility: visible;
}
/* svg icon text */
.icon-text-wrap {
    position: absolute;
    display: block;
    width: 100vw;
    text-align: center;
    top: 110px;
}

.icon, .icon2, .icon3, .icon4 {
    position: relative;
    display: inline-block;
    width: 140px;
    height: 140px;
    text-align: center;
    visibility: hidden;
}
.icon-text-1, .icon-text-2, .icon-text-3, .icon-text-4 {
    display: block;
    position: relative;
    font-size: 25px;
    font-family: 'Aaux Prolight';
    color: #00caff;
    visibility: hidden;
    top: -5px;
}
.icon-text-1 {
    left: -22px;
}
.icon-text-2 {
    left: -19px;
}
.icon-text-4 {
    left: 3px;
}

.dropdown a {
    opacity: 0;
    transition: all .6s ease;
    visibility: hidden;
}

.page-1-img {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url(images/dog.jpg);
    background-position: 80% 50%;
    background-size: cover;
}

.dog {
    width: 100%;
    height: 100%;
    max-width: 100%:
}

.pg2-text-wrap {
    position: absolute;
    top: 100px;
    width: 100vw;
    max-width: 100%;
    text-align: center;
}
.pg2-text1 {
    position: relative;
    display: inline-block;
    font-family: 'Aaux Prolight';
    font-size: 80px;
    color: black;
    font-weight: 300;
}
.pg2-text2 {
    position: relative;
    display: inline-block;
    font-family: 'Aaux Prolight';
    font-size: 80px;
    color: #00caff;
    font-weight: 300;
    margin-left: 10px;
}

/* dropdown hover */

.products:hover {
    color: #00caff;
}
.products:hover + .dropdown {
    height: 130px;
}
.products:hover +.dropdown a{
    opacity: 1;
    top: 0;
    visibility: visible;
}
.dropdown:hover {
    height: 130px;
    
}
.dropdown:hover a {
    opacity: 1;
    top: 0;
    visibility: visible;
}



.alexa:hover {
    color: #00caff;
}
.speaker-content {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
}
.speaker-text-wrap {
    position: relative;
    top: 17vh;
    left: 45vw;
    width: 40vw;
    text-align: center;
}

.speaker-text-1 {
    position: relative;
    font-family: 'Gabriel Sans Thin';
    font-size: 80px;
    font-weight: 500;
}
.speaker-text-2 {
    position: relative;
    margin-top: 20px;
    position: relative;
    font-family: 'Gabriel Sans';
    font-size: 25px;
    font-weight: bold;
}
.dolby {
    position: relative;
    margin-top: 20px;
    width: 200px;
}
.speaker-info-wrap {
    position: relative;
    width: 100vw;
    max-width: 100%;
    text-align: center;
    top: 23vh;
}
.speaker-info {
    position: relative;
    display: inline-block;
    font-family: 'Aaux Prolight';
    font-size: 22.5px;
    text-align: center;
    width: 60vw;
}


.learn-dolby {
    display: block;
    font-family: 'Aaux Prolight';
    font-size: 20px;
    color: #00caff;
    margin-top: 10px;
}

.speaker-bubble-wrap {
    position: relative;
    width: 100vw;
    max-width: 100%;
    text-align: center;
    top: 27vh;
}
.speaker-bubble1 {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 250px;
    background: snow;
    border-radius: 10px;
    margin: 25px;    
}
.speaker-bubble2 {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 250px;
    background: snow;
    border-radius: 10px;
    margin: 25px;
}
.speaker-bubble3 {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 250px;
    background: snow;
    border-radius: 10px;
    margin: 25px;
}
.music-logos {
    position: relative;
    display: block;
    text-align: center;
    top: 27vh;
}
.logos-1, .logos-2 {
    display: block;
}
.logos-1 {
    padding-top: 50px;
}
.logos-2 {
    padding-top: 25px;
}
.amazon_music {
    width: 100px;
    padding-left: 50px;
}
.spotify {
    width: 200px;
    padding-left: 50px;
}
.pandora {
    width: 200px;
    padding-left: 50px;
}
.audible {
    width: 100px;
    padding-left: 50px;
}
.sirius {
    width: 200px;
    padding-left: 50px;
    margin-bottom: 25px;
}
.mic-content {
    position: relative;
    width: 100vw;
    height: 100vh;
}
.mic-text-wrap {
    text-align: center;
    position: relative;
    width: 900px;
    top: 25vh;
}
.mic-text-1 {
    position: relative;
    display: block;
    font-family: 'Gabriel Sans';
    font-size: 25px;
    font-weight: bold;
}
.mic-text-2 {
    position: relative;
    display: block;
    font-family: 'Gabriel Sans Thin';
    font-size: 65px;
    font-weight: 500;
    margin-top: 20px;
}
.mic-box {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    width: 100px;
    height: 5px;
    background: black;
}
.echo-quote {
    position: relative;
    display: block;
    font-family: 'Aaux Prolight';
    font-size: 50px;
    letter-spacing: 10px;
    width: 100vw;
    text-align: center;
    top: -35px;
}
.handsfree-content {
    height: 100vh;
    width: 100vw;
    border: solid red;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 5vh;
}
.mic-info-wrap {
    width: 900px;
    text-align: center;
}
.mic-info {
    position: relative;
    display: inline-block;
    font-family: 'Aaux Prolight';
    font-size: 22.5px;
    text-align: center;
    width: 35vw;
    top: 17vw; 
}
.mic-bubble-wrap {
    position: relative;
    width: 100vw;
    max-width: 100%;
    text-align: center;
    top: 40vh;
}
.handsfree-img {
    position: relative;
    display: inline-block;
    width: 580px;
    height: 500px;
}
.handsfree-text-wrap {
    display: inline-block;
    text-align: center;
    width: 580px;
    height: 500px;
    border: solid blue;
}
.handsfree-text1-wrap {
    width: 40vw;
    display: inline-block;
    border: solid red;
}
.handsfree-text1 {
    position: relative;
    text-align: left;
    font-family: 'Gabriel Sans Thin';
    font-size: 43px;
    font-weight: 500;
}
.handsfree-info {
    position: relative;
    display: inline-block;
    font-family: 'Aaux Prolight';
    font-size: 22.5px;
    text-align: left;
    width: 40vw;
    margin-top: 50px;
}
#handsfree {
    height: 100%;
}
@media screen and (max-width: 800px) {
    .logo {
        margin-left: 20px;
    }
    .hamburger {
        display: inline-block;
        float: right;
        margin-right: 20px;
    }
    .button-wrap {
        display: none;
    }
}
